%h1.page-title
  Resultados de pesquisa para
  %span= params[:q]

- if @products.count > 0 then
  = render partial: "compartilhado/lista_produtos", locals: {products: @products}
- else
  %p nenhum resultado encontrado