%nav{class: "navbar", role: "navigation"}
  %div.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.dropdown
        = link_to("" ,class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button") do
          Produtos
          %span.caret

        %ul{class: "dropdown-menu", role: "menu"}
          - for category in categorias
            %li= link_to category.name, category.permalink
      %li= link_to "Como Comprar"