%ul.products
  -for product in products
    %li
      = link_to "#{root_url + product.path}" do
        .img{:style => product.default_image ? "background-image:url(#{product.default_image.path})" : ''}
      %p.info= truncate product.short_description, :length => 90
      %p= product.path
      %p.price= number_to_currency product.price