.news.container
  .row
    .col-xs-3
      %p Receba as novidades no seu email
    .col-xs-9
      %p form de news aqui, mailchimp

%footer
  .container
    .row
      .col-xs-3
        = render partial: "pages/footer/footer1"
      .col-xs-3
        = render partial: "pages/footer/footer2"
      .col-xs-3
        = render partial: "pages/footer/footer3"
      .col-xs-3
        = render partial: "pages/footer/footer4"
    .row
      .col-xs-12.text-center
        %h2 telefones
        %p Endereço
  .container-fluid.cnpj
    .container
      .row
        .col-xs-9
          %p
            #{Time.now.year} #{link_to "lojasnsp.com.br", root_path} Todos os
            direitos reservados | CNPJ: 09.237.611/0001-22
        .col-xs-3
          %p
            by #{link_to "OneSpace", "http://onespace.com.br", target: "_blank"}
            \& #{link_to "d3Group", "http://d3designdev.com/", target: "_blank"}
