%header.container
  .row.no-pad
    .col-xs-3
      %h1.logo
        = link_to root_path do
          = image_tag "logo.png"
    .col-xs-7
      = render partial: "pages/header/menu", locals: {categorias: Shoppe::ProductCategory.ordered}

    .col-xs-2
      %ul.links-uteis
        %li.cart
          %span.glyphicon.glyphicon-shopping-cart
          .conteudo
            = render partial: "pages/cart_header"
        %li.avatar
          %span.glyphicon.glyphicon-user
          .conteudo
            = render partial: "pages/cliente_menu_header"

    .col-xs-9
      = render partial: "pages/header/busca"