- @page_title = "Bem vindo"

%p teste

- for product in @products
  = "nome do produto é #{product.name}"

%p teste customer

- for cliente in @clientes
  = "nome do cliente é #{cliente.nome_completo}"