@import "variaveis"

html
  border-top: 3px solid #33ADFF

.logo
  display: inline-block
  margin-top: 5px

.navbar
  -webkit-border-radius: 0
  border-radius: 0
  border: 0
  background: #000

  li
    a
      font-size: 20px
      color: #D7D7D7

      &:hover
        color: white
        background-color: #000

.links-uteis
  background: #33ADFF
  height: 50px
  list-style: none
  position: relative
  padding-left: 0

  .conteudo
    position: absolute
    top: 50px
    background: #007FFF
    visibility: hidden
    opacity: 0
    -webkit-transition: visibility 0s linear 0.1s, opacity 0.1s linear
    -moz-transition: visibility 0s linear 0.1s, opacity 0.1s linear
    -ms-transition: visibility 0s linear 0.1s, opacity 0.1s linear
    -o-transition: visibility 0s linear 0.1s, opacity 0.1s linear
    transition: visibility 0s linear 0.1s, opacity 0.1s linear
    font-size: 20px
    font-weight: bold
    color: #FFF
    right: 0
    width: 300px
    z-index: 9

  & > li
    float: left
    cursor: pointer
    margin-left: 30px
    margin-top: 3px

    &:hover .conteudo
      visibility: visible
      opacity: 1
      -webkit-transition-delay: 0s
      -moz-transition-delay: 0s
      -ms-transition-delay: 0s
      -o-transition-delay: 0s
      transition-delay: 0s

  li.cart .conteudo
    padding: 20px

  li.avatar .conteudo
    a
      color: #FFF

    a:hover
      color: $yellow

  li span
    font-size: 40px
    color: #FFF

    &:hover
      color: $yellow