// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.img
  width: 300px
  height: 500px
  -webkit-background-size: cover
  -o-background-size: cover
  background-size: cover