#produto
  .row
    .col-xs-4
      .imagem
        - if @product.default_image
          / todo, fazer uma galeria aqui
          .img{:style => "background-image:url(#{@product.default_image.path})"}
        - else
          .img{:style => "background-image:url(/images/produto-padrao.png)"}
    .col-xs-8
      %h3.titulo= @product.name
      .descricao-curta
        = truncate @product.short_description, :length => 180
        - if @product.has_variants?
          %table.variants
            - for variant in @product.variants
              %tr
                %td
                  - if variant.in_stock?
                    %p.stock.yes Disponível em estoque
                  - else
                    %p.stock.no Indisponível
                  %h4= variant.name
                  %p.price= number_to_currency variant.price
                %td.buy
                  = form_tag buy_product_path(@product.product_category.permalink, @product.permalink, :variant => variant.id), :class => (variant.in_stock? ? 'in-stock' : 'no-stock') do
                    %p
                      = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !variant.in_stock?
                      = submit_tag 'Comprar', :disabled => !variant.in_stock?
        - else
          .optionsBox
            .top
              %p.price= number_to_currency @product.price
              = form_tag buy_product_path(@product.product_category.permalink, @product.permalink), :class => (@product.in_stock? ? 'in-stock' : 'no-stock') do
                %p
                  = select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !@product.in_stock?
                  = submit_tag 'Comprar', :disabled => !@product.in_stock?
            .bottom
              .stock
                - if @product.in_stock?
                  %p.yes Disponível em estoque
                - else
                  %p.no Indisponível
                  %p.time Sorry - we don't have any stock of this product at the moment. #{link_to "Let me know when you do"}.
              .links
                %ul
                  - if @product.data_sheet
                    %li.item.datasheet= link_to "Read product datasheet", @product.data_sheet.path

        - unless @attributes.empty?
          %table.attributes
            - for attribute in @attributes
              %tr
                %th= attribute.key
                %td= link_to attribute.value, product_filter_path(:key => attribute.key, :value => attribute.value)

        .calculo-frete
          %h5 Calcule o frete
          %p form de calculo de frete vai aqui
    .row
      .col-xs-12
        .description
          %h3 Descrição
          = @product.description.html_safe