!!!
%html
  %head
    %title #{@page_title} - #{Shoppe.settings.store_name}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield :head

  %body
    = render partial: "pages/header"

    %section.content.container
      .row
        .col-xs-12
          = yield

    = render partial: "pages/footer"